h1{
    background-color: blanchedalmond;
}
body{
    margin: 0 auto;
}
#container{
    width: 25%;
    margin-top: 100px;
    margin-left: 40%;
}
#calculate{
    width: 30%;
    margin-left: 35%;
}
input{
    width: 80%;
    height: 40px;
    margin-top: 10px;
}